body{
    background-repeat: no-repeat;
     background-color: aqua;
     background-size: 1000px;
     max-width: 1024;
     min-width: none;

}
header{
display: block;
width: 10px;
margin: auto;
}
